.logo {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 18px;
  color: transparent;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.25) 40%,
    var(--color-primary) 50%,
    rgba(255, 255, 255, 0.25) 60%
  );
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shineText 12s linear infinite reverse;
  position: relative;
  z-index: 1;
}

@keyframes shineText {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}
